{% extends "network/layout.html" %}

{% block body %}
    {% if form %}
        <div class="form">
            <form action="." method="post">
                {% csrf_token %}
                {{ form.errors.content }}
                <div class="form-group">
                    {{ form.content }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {% endif %}
    {% include 'network/post_display.html' %}
{% endblock %}